<section class="about-page">
  <div class="container"><h1 class="about-title">“Welcome to <img src='assets/images/blue_short.svg' width="200px"/> Dive into a world of films, series and iconic personalities – your journey starts here.”</h1>
    <p class="text-secondary">“Discover, explore, enjoy — from blockbuster movies to binge-worthy TV shows and legendary stars.”

“Join us and step into a universe filled with stories, characters and unforgettable entertainment.”</p>

    <div class="cards-wrapper">
      <div class="card feature-card">
        <div class="card-icon">
          <i class="fas fa-film"></i>
        </div>
        <h3 class="card-title">Movies</h3>
        <p class="card-text">Explore a huge library of films from all genres.</p>
      </div>

      <div class="card feature-card">
        <div class="card-icon">
          <i class="fas fa-tv"></i>
        </div>
        <h3 class="card-title">TV Shows</h3>
        <p class="card-text">Discover your favorite TV series and latest episodes.</p>
      </div>

      <div class="card feature-card">
        <div class="card-icon">
          <i class="fas fa-user"></i>
        </div>
        <h3 class="card-title">People</h3>
        <p class="card-text">Get to know actors, directors and other personalities.</p>
      </div>
    </div>
  </div>
</section>
