.about-page {
  padding: 3rem 1rem;
  background: var(--bg-main);
  color:var( --font-Color);

  .container {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
  }

  .about-title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  .about-description {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 2.5rem;
    color: rgba(255,255,255,0.85);
  }

  .cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top:60px;
    gap: 2rem;

    .card {
      background:var(--card-about);
      padding: 2rem;
      border: 0;
      border-radius: 8px;
      width: 280px;
      transition: transform 0.3s ease, 0.3s ease;

      &:hover {
        background:var( --light-bg);
        transform: translateY(-6px);
        .card-icon {
          color:var(  --left-Color);
        }
        .card-title {
          color:var(  --left-Color);
        }
        .card-text {
          color:var(  --left-Color);
        }
      }

      .card-icon {
        font-size: 3rem;
        margin-bottom: 1rem;
        color: var( --light-bg);
        transition: color 0.3s ease;
      }

      .card-title {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
        color:var( --font-Color);
        transition: color 0.3s ease;
      }

      .card-text {
        font-size: 1rem;
        color: var( --card-text);
        transition: color 0.3s ease;
        line-height: 1.4;
      }
    }
  }

  @media (max-width: 768px) {
    .cards-wrapper {
      flex-direction: column;
      align-items: center;

      .card {
        width: 100%;
        max-width: 320px;
      }
    }
  }
}

