.settings-page {
  padding: 4rem 1rem;
  background: var(--bg-main);
  color:var( --font-Color);

  .container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
  }

  .settings-form{
  padding: 30px;
  &:hover{
  transform: translateY(-5px);
  box-shadow: 0 5px 35px rgba(36, 184, 239, 0.35);
  border-color:var(--light-bg);
  border-radius: 20px;
  }
  }
}