<section class="settings-page">
  <div class="container">
    <h1 class="title mb-3">Settings <i class="bi bi-gear"></i></h1>


    <form [formGroup]="settingsForm" (ngSubmit)="saveSettings()" class="settings-form">
      
      <div class="form-group mb-3">
        <label for="theme">Theme <i class="bi bi-cloud-moon"></i></label>
        <select class="m-2 rounded p-1" id="theme" formControlName="theme" (change)="changeTheme($event)">
          <option value="normal">Normal <i class="bi bi-lightning"></i> </option>
          <option value="dark">Dark <i class="bi bi-moon"></i> </option>
          <option value="light">Light <i class="bi bi-brightness-high"></i> </option>
        </select>
      </div>


      <div class="form-group">
        <label>
          <input type="checkbox" formControlName="notifications">
          Enable Notifications
        </label>
      </div>

      <div class="form-group my-3">
        <label for="language">Language <i class="bi bi-translate"></i></label>
        <select class="m-2 rounded p-1" id="language" formControlName="language">
          <option value="en">English</option>
          <option value="ar">Arabic</option>
          <option value="es">Spanish</option>
        </select>
      </div>

      <button type="submit" class="btn btn-info all_hover px-4 py-2 fw-bold text-white my-4">Save Changes</button>
    </form>

    <div class="d-flex justify-content-center align-items-center mt-5">
   <button class="all_hover btn btn-info px-4 py-2 fw-bold text-white " (click)="home()">Home <i class="bi bi-house-heart-fill"></i> </button>
   </div>

  </div>
</section>

