
.list-group-item {
  cursor: pointer;
  transition: 0.3s;
}

h2,h4{
    color:var( --font-Color)
}

.btn_list{

&:hover,
&.active,
&:active {
  background-color:'$info'
}
}

input.form-control {
  border-radius: 0.25rem;
}
