<div class="footer footer-expand-lg m-0">

  <footer class="text-center text-lg-start text-white">
    <div class="container p-4">
      <div class="row">
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0 text-lg-center">
          <div
            class="d-flex align-items-center justify-content-center mb-4 mx-auto"
            style="width: 150px; height: 150px"
          >
            <img src="assets/images/blue_square.svg" alt="footer logo" />
          </div>


          <ul class="list-unstyled ">
           <a href="https://www.facebook.com/"><i class="fab mx-1 fa-facebook icon"></i></a>
           <a href="https://www.twitter.com/"><i class="fab mx-1 fa-twitter icon"></i></a>
           <a href="https://www.spotify.com/"><i class="fab mx-1 fa-spotify icon"></i></a>
           <a href="https://www.google.com/"><i class="fab mx-1 fa-google icon"></i></a>
           <a href="https://www.youtube.com/"><i class="fab mx-1 fa-youtube icon"></i></a>
          </ul>

        </div>

        <div class="col-lg-2 col-md-6 my-4 mb-md-0">
          <h5 class="text-info text-uppercase mb-4">The Basics</h5>

          <ul class="list-unstyled">
            <li class="mb-2">
              <a href="#!">About TMDB </a>
            </li>
            <li class="mb-2 text-secondary">
              <a href="#!">Contact Us </a>
            </li>
            <li class="mb-2">
              <a href="#!">Documentation </a>
            </li>
            <li class="mb-2">
              <a href="#!">Business </a>
            </li>
            <li class="mb-2">
              <a href="#!">System Status </a>
            </li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-6 my-4 mb-md-0">
          <h5 class="text-info text-uppercase mb-4">Get Involved</h5>

          <ul class="list-unstyled">
            <li class="mb-2">
              <a href="#!">Contribution Bible </a>
            </li>
            <li class="mb-2">
              <a href="#!">New Movie </a>
            </li>
            <li class="mb-2">
              <a href="#!">New TV Show </a>
            </li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-6 my-4 mb-md-0">
          <h5 class="text-info text-uppercase mb-4">Community</h5>

          <ul class="list-unstyled">
            <li class="mb-2">
              <a href="#!">Guidelines </a>
            </li>
            <li class="mb-2">
              <a href="#!">Discussions </a>
            </li>
            <li class="mb-2">
              <a href="#!">Leaderboard </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</div>
