.privacy-page {
  padding: 4rem 1rem;
  background: var(--bg-main);
  color:var( --font-Color);

  .container {
    max-width: 800px;
    margin: 0 auto;
  }

  .page-title {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
  }

  h2{
    color: var(--h2-page-title);
  }

  .last-updated {
    font-size: 0.9rem;
    color:  var(--card-text);
    margin-bottom: 2rem;
  }

  h2 {
    font-size: 1.4rem;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    color: var(--light-bg);
  }

  p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1rem;
    color: var(--font-Color);
  }

  .contact-info {
    margin-top: 2rem;
    text-align: center;

    a {
      color: var(--light-bg);
      text-decoration: underline;

      &:hover {
        color: lighten(#24baef, 10%);
      }
    }
  }

  @media (max-width: 768px) {
    padding: 2rem 1rem;
    .page-title {
      font-size: 2rem;
    }
    h2 {
      font-size: 1.3rem;
    }
  }
}
