<nav class="container navbar navbar-expand-lg bg-transparent">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
    <img src="assets/images/blue_short.svg" class="w-50 ms-5" alt="logo">
  </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
        @if(isLogin) {
        <li class="nav-item">
          <a class="nav-link" routerLink="home" routerLinkActive="text-info">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about" routerLinkActive="text-info">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="movies" routerLinkActive="text-info">Movies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="tv" routerLinkActive="text-info">TV</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="people" routerLinkActive="text-info">People</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" routerLink="categories" routerLinkActive="text-info">Categories <i class="bi bi-film"></i> </a>
        </li>
      }
      </ul>
      
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

        <ul class="nav-item d-flex align-items-center me-3">
           <a href="https://www.facebook.com/"><i class="fab mx-1 fa-facebook icon"></i></a>
           <a href="https://www.twitter.com/"><i class="fab mx-1 fa-twitter icon"></i></a>
           <a href="https://www.spotify.com/"><i class="fab mx-1 fa-spotify icon"></i></a>
           <a href="https://www.google.com/"><i class="fab mx-1 fa-google icon"></i></a>
           <a href="https://www.youtube.com/"><i class="fab mx-1 fa-youtube icon"></i></a>
          </ul>


        @if(!isLogin) {

        <li class="nav-item">
            <a class="nav-link " routerLink="login" routerLinkActive="text-info">Login <i class="bi bi-bag-heart"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="register" routerLinkActive="text-info">Register <i class="bi bi-r-circle-fill text-info"></i></a>
        </li>}

        @else {

          <li class="nav-item dropdown ">
          <a class="nav-link " routerLink="settings" routerLinkActive="text-info" role="button" data-bs-toggle="dropdown"> 
            Settings <i class="bi bi-gear"></i>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item all_hover"  routerLink="settings/password" routerLinkActive="text-info">Accessibility <i class="bi bi-universal-access"></i></a></li>
            <li><a class="dropdown-item all_hover"  routerLink="settings/privace" routerLinkActive="text-info">Privacy <i class="bi bi-shield-exclamation"></i></a></li>
            <li><a class="dropdown-item all_hover"  routerLink="settings/profile" routerLinkActive="text-info">Profile <i class="bi bi-person fs-5"></i></a></li>
          </ul>
        </li>

   
                <li class="nav-item d-flex align-items-center mx-3">
          <button (click)="toggleTheme()" class="btn btn-outline-secondary p-1">
            @if (currentTheme === 'light') {
            <i class="fas fa-moon"></i> } @else { <i class="bi bi-brightness-high-fill"></i>}
          </button>
        </li>


        <li class="nav-item">
            <a (click)="logOutNow()" class="nav-link " routerLink="register" routerLinkActive="text-info">Logout</a>
        </li>}
      </ul>
    </div>
  </div>
</nav>