/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --bg-main: #131722 ;
    --light-bg: #24baef;
    --transparent-bg:  rgba(36, 184, 239, 0.6);

    --font-Color: #fff;
    --second-FontColor: #949cb0;

    --border-Color: #a8a8a83d;
    --border-Height: 1px;
    
}

p{
    color: var(--second-FontColor);
}
.brdr{
    height: var(--border-Height);
    background-color: var(--border-Color);
}

.vote{
    background-color: var(--light-bg);
    color: var(--font-Color);  

}

.bg-mine-light {
    background-color: var(--light-bg);
}

body {
    background-color: var(--bg-main);
    font-family: 'Montserrat', sans-serif;
    color: var(--font-Color);
}

a, a:hover {
    color: var(--font-Color);
    text-decoration: none;
    font-weight: bold;
}

.input-mine {
    background-color: transparent;
    color: var(--font-Color);
    border: solid 1px var(--border-Color);
}

