<div class="container my-5">
  <div class="row">
  <div class="col-md-4 d-flex align-items-center">
    <div>
      <div class="brdr w-25 mb-3"></div>
      <h2 class="h5">Trending TV <i class="bi bi-tv-fill"></i> <br>To Watch Right Now</h2>
      <p class="py-1">Most Watched TV Movies by the Day</p>
      <div class="brdr w-100"></div>

    <div class="d-flex justify-content-center">
    <input
      type="text"
      class="form-control mt-4 p-2 bg-light card"
      placeholder="Search for a TV  ......"
      [(ngModel)]="term"
    />
  </div>
    </div>
  </div>

  <div class="col-md-2 mb-3" *ngFor="let item of trendingTv | searchPipe:term">
    <app-media-item [item]="item"></app-media-item>
  </div>
</div>
</div>
